<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <title></title>
    <h1>All cars in park</h1>
</head>
<body>    
    <table id="allcars" border="1" cellpadding="5" cellspacing="5">
        <tr>
            <th>Registration</th>
            <th>Time Entered</th>
            <th>Amount Owed</th>
            <th>Paid</th>
        </tr>
        {% set count = namespace(value=0) %}
        {% for row in data %}
        
        <tr>
            
            <td>{{row.rego}}</td>
            <td>{{row.timeEntered}}</td>            
            <td>${{amount_owed[count.value]}}</td>          
            {% set count.value = count.value + 1 %}
            {% if row.has_paid %}
                <td>Paid</td>
            {% else %}
                <td>Not Paid</td>
            {% endif %}

        </tr>
        {% endfor %}

        
    </table>
    </div>
    
</body>
</html>