<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Car Park Entry</title>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
  <script>
    socket = io()
    socket.on('connect', function(){
      socket.send('a')
    })
    socket.on('message', function(msg){

      socket.send('a')
      var data = JSON.parse('{{ data | tojson | safe }} ');
      let result1 ="{{ data }}".includes(msg);
      console.log(result1)
      if(result1){
        window.location.href = "/go_forward/" + JSON.stringify(msg);

      }
    })
    console.log("{{ data }} ")
  </script>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="{{url_for('static', filename='images/logo.svg')}}" alt="" width="50" height="40" class="d-inline-block"/>
        Plate Detection
      </a>
    </div>
  </nav>
  <div class="container">
    <h1>Car Park Entry</h1>
    <img id="myImg" src ="/static/images/StopWait_placeholder.png">
    <p>First 2 hours free, then $5 per hour</p>
  </div>

  <div class="container">
    <h1>Entry Camera</h1>
    <img src="{{ url_for('video_feed') }}">
  </div>

  <script src="{{url_for('static', filename='script/bootstrap.bundle.min.js')}}"></script>
</body>
</html>