<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <title>Find Car by Registration</title>
        <script>
            function visible_table(){
                console.log('{{ table_load }}')
                if('{{ table_load }}'  === "true"){
                    console.log("it works");
                    let text = '{{ data.rego_number }}'
                    console.log(text);
                    let table = document.createElement('table');
                    let thead = document.createElement('thead');
                    let tbody = document.createElement('tbody');
                    table.classList.add('table');
                    table.classList.add('container');
                    table.classList.add('mt-3');
                    table.classList.add('table-bordered');
                    table.classList.add('table-striped');
                    thead.classList.add('table-success');
                                        
                    table.appendChild(thead);
                    table.appendChild(tbody);

                    // Adding the entire table to the body tag
                     document.getElementById('regoTable').appendChild(table);
                    

                    // Creating and adding data to first row of the table
                    let row_1 = document.createElement('tr');
                    let heading_1 = document.createElement('th');
                    heading_1.innerHTML = "Registration";
                    let heading_2 = document.createElement('th');
                    heading_2.innerHTML = "Time Entered";
                    let heading_3 = document.createElement('th');
                    heading_3.innerHTML = "Amount Owed";
                    let heading_4 = document.createElement('th');
                    heading_4.innerHTML = "Paid";

                    row_1.appendChild(heading_1);
                    row_1.appendChild(heading_2);
                    row_1.appendChild(heading_3);
                    row_1.appendChild(heading_4);
                    thead.appendChild(row_1);

                    // Creating and adding data to second row of the table
                    let row_2 = document.createElement('tr');
                    let row_2_data_1 = document.createElement('td');
                    row_2_data_1.innerHTML = "{{ data.rego_number }}";
                    let row_2_data_2 = document.createElement('td');
                    row_2_data_2.innerHTML = "{{ data.time_entered }}";
                    let row_2_data_3 = document.createElement('td');
                    row_2_data_3.innerHTML = "{{ amount_owed }}";
                    let row_2_data_4 = document.createElement('td');
                    console.log('{{ data.has_paid }}' )
                    if('{{ data.has_paid }}' === '0'){
                        row_2_data_4.innerHTML = "Not Paid";
                    }else{row_2_data_4.innerHTML = "Paid";}                    

                    row_2.appendChild(row_2_data_1);
                    row_2.appendChild(row_2_data_2);
                    row_2.appendChild(row_2_data_3);
                    row_2.appendChild(row_2_data_4);
                    tbody.appendChild(row_2);

                    let btn = document.createElement("button");
                    btn.classList.add("btn");
                    btn.classList.add('btn-success');
                    btn.classList.add('mb-3')
                    btn.innerHTML = "Pay";
                    btn.id = "PayID";     
                    btn.setAttribute("onClick", "PayIDFunction()")               
                    tbody.appendChild(btn);
                    
                }else{
                    console.log("it does not work")
                }
            }
            function PayIDFunction(){
                
                console.log("clicked");
                if('{{ data.has_paid }}' === '0'){             
                    window.location.href = "/paid/" + "{{ data.rego_number}}" ;
                }else{
                    alert("Already paid");
                }           
            }
            function cancelFunction(){
                window.location.href = "/home"
            }
        </script>
    </head>
<body id="regoTable" onload="visible_table()">
    <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{url_for('static', filename='images/logo.svg')}}" alt="" width="50" height="40" class="d-inline-block"/>
            Plate Detection
          </a>
        </div>
      </nav>
      <div class="container">
        <h2>Find Car by Registration</h2>

        <form action="/paystation" method = "POST">

            <label for="Rego">Enter Registration number:</label><br>
            <input type="text" id="Rego" name="Rego"><br>

            <div class="btn-group">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
            </div>
          </form> 
          <button id="cancelbtn" class="btn btn-danger" onclick="cancelFunction()">Cancel</button>
         
      </div>

      <div class="container">
        <div id="regoTable" onload="visible_table()"></div>
      </div>

<script src="{{url_for('static', filename='script/bootstrap.bundle.min.js')}}"></script>   

</body>
</html>